.title{
    text-align: center;
    font-size: 350%;
}

.Box{
    background-color: rgb(236, 234, 234);
    margin:auto;

    border-radius: 3%;

    border: none;


    width: 600px;
    height: 150px;
}