<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Taker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <h1 class="title">Attendance Tracker</h1>

    <div class="Box">
        <button onclick="location.href='init_classes.html'" class="classes">Initialize Classes</button>

        <br>
        <button onclick="location.href='selection.html'" class="selection">Take Attendance</button>

        <br>
        <button onclick="location.href='show_attendance.html'"  class="Paper">Show Attendance</button>
    </div>

</body>
</html>