<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Taker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <h1 class="title">Attendance Tracker</h1>

    <div class="Box">
        <h2 class="h2">Take Attendance on:</h2>
        <button onclick="location.href='username.html'" class="Computer">Digital</button>

        <br>
        <button onclick="location.href='paper.html'"  class="Paper">Paper</button>
    </div>

</body>
</html>